<div class="color-picker-container">
  <div class="color-picker-info" tabindex="0" #select>
    <p class="pick-color-text">Picked color:</p>

    <div class="picked-color" [ngStyle]="{backgroundColor: color}"></div>

    <p>
      <i class="arrow" [ngClass]="{'clicked': isColorPickerDropdownOpen}" (click)="openColorPickerDropdown()"></i>
    </p>
  </div>

  <form [formGroup]="colorForm">
    <app-colors-list
      formControlName="color"
      *ngIf="isColorPickerDropdownOpen"
      [colorList]="colorList"
    ></app-colors-list>
  </form>
</div>
